.fullcontainer {
  display: flex;
  flex-direction: column;
}

header {
  border: 2px solid black;
  margin-bottom: 0.5rem;
  height: 10vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.files {
  margin-right: 1rem;
  padding: 1rem;
  width: fit-content;
  border: 2px solid black;
}

.codepen {
  margin-left: auto;
  flex-grow: 1;
}

.output-window {
  margin-left: 1rem;
  width: 30%;
  border: 2px solid black;
  padding: 1rem;
}